@import "bootstrap";

#app {
  padding-top: 20px;
  background-color: #000;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAH0lEQVQIW2P4//+/JhAzIGMUDhRrYgigq4QbgyEAwgChmkuDn1MilAAAAABJRU5ErkJggg==);
}

.container {
  lost-center: 980px;
}

.topbar {
  background-color: #000;
}

.topbar-logo {
  width: 200px;
  height: 78px;
}

